.FavoriteButtonCss {

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  width: 10vw;
  height: 5vh;

  background-color: magenta;
  border-radius: 15px;
}

.FavoriteTextCss {
  color: white;
  font-size: 20px;
}